// thisn is an css file for styling 


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    margin-top: 50px;
    height: 550px;
    width: 500px;
    background-color: aliceblue;
    display: flex;
    border-radius: 15px;
    box-shadow:3px 3px 3px black;
    justify-content: center;
    
}
inner{
    flex-direction: column;
    gap: 10px;
    
    

}
inner >h1{
    color: cadetblue;
    margin: 10px;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 3px black;
    letter-spacing: 2px;
    
}
inner>ul{
    overflow-y:auto;
    border-radius: 10px;
    height: 350px;
    border: 1px solid black;
    background-color:white;
    box-shadow: 3px 3px 3px black;
}


inner > ul>li{
    display: flex;
    justify-content: space-between; 
    list-style: none;
    font-size: 20px;
    padding-right: 5px;
    font-weight: bold;
    margin: 8px 0;
    /* text-align: center; */
    
   

    
}
input[type="text"]{
    padding: 10px;
    border-radius: 15px;
    /* color: white; */

}
input[type="text"]:focus{
    background-color: antiquewhite;
    margin-right: 20px;
    

}
button{
    padding: 15px 20px;
    background-color: green;
    border-radius: 15px;
    color: white;
    margin: 7px;
    text-align: left;
}
button:hover{
    background-color: red;
}
inner > input::placeholder{
    color: black;
    font-size: 30px;
}


